{
  "rules": {
    "no-param-reassign": ["error", { "props": false }],
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "no-use-before-define": ["error", { "functions": false }],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  },
  "extends": "airbnb-base",
  "env": {
    "node": true,
  }
}
