{
  "parserOptions": {
    "sourceType": "script",
  },
  "rules": {
    "strict": [2, "global"],
    "global-strict": [0, "always"],
    "no-param-reassign": ["error", { "props": false }],
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "no-use-before-define": ["error", { "functions": false }],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  },
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "mocha": true
  }
}
